[submodule "Engine/Dependencies/spdlog"]
	path = Engine/Dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/Dependencies/cgltf"]
	path = Engine/Dependencies/cgltf
	url = https://github.com/jkuhlmann/cgltf
